.App {
  text-align: center;
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  /* background-image: url('./style/image.jpg');
  background-size: contain;
  background-repeat: no-repeat; */
  width:100%;
}

.body{
  text-align: center;
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  background-image: url('./style/image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: auto;
  min-height: 100vh;
  background-position: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  width:100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FF5A5F;
  border-bottom: 1px solid rgba(105, 105, 105, 0.1);
}

.nav-links {
  width:80%;
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: #FF5A5F;
  text-decoration: none;
  border:4px solid#FF5A5F;
  border-radius: 20px;
  padding: .5% 1%;
  width: 10%;
  text-transform: uppercase;
}

h1{
  font-size: 2rem;
}

.user-welcome{
  line-height: 1;
}

h2{
  background: rgba(0, 0, 0, 0.8);
  padding: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
